<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85765846169-qh894vpf9cv21p9tp8mp67jj734ruiem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85765846169-qh894vpf9cv21p9tp8mp67jj734ruiem</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85765846169-ffos3ea11qubqhs66b6cu5p1qqfkulao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGDU6EhzqgR8K2rw4YzyELBbzpYoDA9IE</string>
	<key>GCM_SENDER_ID</key>
	<string>85765846169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onekioskafrica.oneKiosk</string>
	<key>PROJECT_ID</key>
	<string>one-kiosk-d5f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>one-kiosk-d5f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85765846169:ios:730d5f5e845d794a56f408</string>
	<key>DATABASE_URL</key>
	<string>https://one-kiosk-d5f2c.firebaseio.com</string>
</dict>
</plist>